/**
  * CSS used for the home page.
  * Created by Cristian Ortega Hurtado and Jimena Gdur.
  */

@import url("common.css");
@import url("popUps.css");

/****************** INPUT AND BUTTONS ******************/

/** Style for container for input and buttons. **/
.input-buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    min-width: 100%;
}

/** Animations for buttons **/
.label-icon:hover{
    background-color: var(--finn);
}

.label-icon:hover button {
    background-color: var(--finn);
    border-color: var(--finn);
}

.redirect-buttons {
    cursor: default;
}

/****************** TAB SECTION ******************/

/** Style for container of buttons for tabs. **/
.tab-links {
    display: flex;
    justify-content: center;
    min-width: 94%;
    max-width: 94%;
    padding: 0%;
    margin: 0%;
}

/** Style for container of content options. **/
.content-options {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
    min-width: 100%;
    text-align: center;
}

/** Style for every content box in tab section. **/
.tab-content {
    border-color: var(--plum);
    border-radius: 0.6rem;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.1%;
    margin-bottom: 1%;
    padding: 2%;
    min-width: 90%;
    max-width: 90%;
}

/** Style for video. **/
video {
    min-width: 100%;
}

#ranking, #credits {
    display: none;
}

.section-container {
    margin: 2%;
}

/* Styles for header on screens smaller than 933px */
@media screen and (1px <= width <= 933px) {
    /** Style for container for input and buttons. **/
    .input-buttons { 
        margin-bottom: 4%;
    }

    /** Removes container of buttons for tabs. **/
    .tab-links {
        display: none;
    }

    /** Style for developers section of credits. **/
    #credits {
        flex-direction: column;
    }

    /** Shows all contents. **/
    .tab-content {
        display: flex!important;
    }
}
