/**
  * CSS used for the home page.
  * Created by Cristian Ortega Hurtado.
  */

@import url("common.css");
@import url("popUps.css");

/**
 * Style for section configuration
 */
.configuration {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    min-width: 100%;
    padding: 2%;
}

.options-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
    min-width: 80%;
}

/**
 * Style for each configuration option
 */
.configuration-option {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 0%;
    min-width: 80%;
    padding: 0%;
}

/**
 * Style for each configuration option value
 */
.option-container {
    align-items: center;
    border-style: solid;
    background: var(--plum);
    border-color: var(--plum);
    border-radius: 0.3vw;
    border-width: 0.2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1%;
    min-width: 80%;
    padding: 0.5%;
}

/**
 * Style for each configuration option title
 */
.configurations-title {
    color: var(--isabelline);
    margin: 1%;
    font-size: 1rem;
    font-weight: bold;
    width: 15%;
}

/**
 * Style for each input type range
 */
.input-range {
    appearance: none;
    background: var(--violet);
    border-color: var(--violet);
    border-radius: 0.5rem;
    border-style: solid;
    cursor: grab;
    min-width: 60%;
}

/**
 * Style for thumb in input range.
 * Style only available with vendor prefix.
 * Width and height not allowed to be relative.
 */
.input-range::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background: var(--mimi-pink);
}

/**
 * 
 */
 .range-value {
    font-size: 1.5rem;
    color: var(--violet);
    margin: 0%;
    min-width: 6%;
}

.config-description {
    display: none;
}

/**
 * Style for each adaptation option title
 */
 .adaptation-title {
    color: var(--isabelline);
    margin: 1%;
    font-size: 1rem;
}

/**
 * .
 */
.adaptation-container {
    align-items: center;
    background: var(--plum);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    margin: 1% 0%;
    max-width: 60%;
}

.adaptation-option-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    padding: 0%;
}

/**
 * Style for each adaptation option
 */
 .adaptation-option {
    background: var(--isabelline);
    border-color: var(--plum);
    border-radius: 0.5rem;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    padding: 2% 0%;
    height: 50%;
    width: 30%;
}

.adaptation-icon {
    max-width: 70%;
}

/**
 * adaptation explanation text
 */
.option-description {
    color: var(--mimi-pink);
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin: 1%;
    max-width: 50%;
}


/******************* MEDIA QUERIES *******************/

/**
 * Styles for header on screens smaller than 933px
 */
@media screen and (1px <= width <= 933px) {
    /**
     * Style for each configuration option value
     */
    .option-container {
        flex-direction: column;
        min-width: 90%;
        margin: 1%;
        padding: 3%;
    }

    .adaptation-container {
        min-width: 87%;
    }

    /**
     * Style for each configuration option value
     */
    .input-range {
        min-width: 90%;
    }

    /**
     * Style for each configuration option title
     */
    .option-title {
        display: flex;
        justify-content: center;
        margin: 2%;
        min-width: 90%;
    }

    /**
     * Style for each configuration option title
     */
    .configurations-title {
        width: auto;
    }

    .adaptation-option-container {
        flex-direction: column;
    }

    /**
     * Changing direction.
     */
    .configuration-option {
        flex-direction: column;
        min-width: 90%;
    }

    /**
     * Changing direction.
     */
    .adaptation-configuration {
        flex-direction: column;
    }
    
    /**
     * Configuration description.
     */
    .configuration-description {
        min-width: 90%;
    }
}
