/** Global variables. **/
:root {
    --whiteSmoke: #F6F3F4;
    --isabelline: #EEE7E8;
    --mimiPink: #E6CCD7;
    --pinkLavender: #D9A4BC;
    --thulianPink: #CC7BA1;
    --skyMagenta: #C56CA2;
    --plum: #9A4C95;
    --finn: #743D74;
    --violet: #4D2D52;
    --darkPurple: #100E1B;
}

/****************** PAGE TITLE ******************/

/** Style for page's main title. **/
.pageTitle {
    color: var(--plum);
    display: flex;
    justify-content: center;
    font-size: 2.3em;
    margin-bottom: 1em;
    font-weight: bold;
}

/** Global styles. **/
body {
    background-color:var(--isabelline);
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: default;
}

/** Removes dot from list item. **/
ul {
    list-style-type: none;
}

/** Website's header. **/
.header {
    background-color:var(--finn);
    color:var(--isabelline);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 auto;
}

/* Styles for header on screens smaller than 933px */
@media screen and (max-width: 933px) {
  /** Same header as before, but width changes with device size.**/
  .header {
    background-color:var(--finn);
    color:var(--isabelline);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 auto;
    width: 100vw;
  }
}

/** Logo's style used in header. **/
.gameLogo {
    padding-right: 2%;
}

