/**
* CSS used for the game page.
* Created by Gianfranco Soto Palma.
*/

@import url("common.css");
@import url("popUps.css");

.game-sections {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    max-width: 100%;
}

.board-container {
    background-color: var(--mimi-pink);
    border: 0.10em solid var(--dark-purple);
    max-width: 70%;
    max-height: 100%;
    margin: 1%;
}

#game-board {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 1%;
}

/** Container for images **/
.board-image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.1%;
    max-width: 5%;
    border-style: solid;
}

/** Container for images **/
.board-image {
    max-width: 100%;
}

.game-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    max-width: 100%;
}

.player-inventory {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.player-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0%;
}

.game-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0%;
    width: 100%;
    align-items: center;
}

.my-image-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.1%;
    max-width: 10%;
    border-style: solid;
}

.my-image{
    max-width: 100%;
}

/****************** styles to fit screen sizes ******************/

@media screen and (max-width: 933px) {
    .game-sections {
        flex-direction: column;
    }
    
    .board-container {
        max-width: 100%;
    }
}