/**
  * CSS used for the home page.
  * Created by Gianfranco Soto Palma.
  */

@import "common.css";
@import "popUps.css";

/* HIDE POP UP 
* FALTA RESPONSIVE
* DELETE LATER
*/
#popUps {
    display: /*flex*/none; 
    flex-direction: column;
    align-items: center;
}

/* temporary for all images DELETE LATER*/ 
.images {
    display:none;
    max-width:4em;
    max-height:4em;
}

/****************** BOARD ******************/
.boardImages{
    border: solid var(--darkPurple);
    max-width:4em;
    max-height:4em;
    /*min-width: 2em; /* need to add space horizontally */
    /*min-height: 2em; */
   
}

.table {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--mimiPink);
    border: 0.10em solid var(--darkPurple);
    margin-left: 1%;
    padding: 0.5%;
    max-width: 47.73em; /* to fit 11 images max */
    max-height:40em;
    min-width: 21.3em; /* to fit 5 imagenes minimum */
}

.imagenMejora{
    display: flex;
    max-width:4em;
    max-height:4em;
}

/*
.informaciónMejora{
    background-color: var(--finn);
    color: var(--isabelline);
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
}
*/

.profileImages{
    width:1em;
    height:1em;
}
/* "rankingTable" = "ranking" antes*/
ul.rankingTable li{
    margin-top: 0.5em;
}

/****************** INVENTORY ******************/

/* Positions title accordingly */
.misFichasTitle{
    text-align: left; 
    margin: 1%;     
}

/* Box misFichas */
.misFichas{
    background-color: var(--finn);
    display: flex;
    margin-left: 1%;
}

/* Individual elements in box */
ul.misFichas li{
    list-style-type: none;
    flex-direction:row;
    border-style: solid;
    background-color: var(--mimiPink);
    max-width: 4em;
    max-height: 4em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-inline:0.25em;
}

/* images of "myFichas" */
.myImages{
    max-width:4rem;
    max-height:4rem;
}

/* acting as a container */
main {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center; 
}

/* time, ranking, exit btn container*/
.gameInfo{
    flex: 1 0 0; /* orders view */
    order: 2;
}

.btnAbandonar {
    margin-right: 0.1em;
    max-width: 7em;
    max-height: 5em;
    margin-top: 1em;
    font-size: large;
}

/* animations */
.boardImages:hover{
    background-color: var(--pinkLavender);
}

.myImages:hover {
    background-color: var(--pinkLavender);
}

/* PASAR AL COMMON PROBABLY*/
/****************** styles to fit screen sizes ******************/

@media screen and (max-width: 933px) {
    /* Style for each configuration option tittle */
    .textAndInformation {
        width: 29vw;
        height: 8vw;
    }
    /* Style for each configuration option tittle */
    .confOptTittleDescription {
        font-size: 2.5vw;
    }
}