body {
    margin: auto;
    width: 30%;
    height: 50vh;
    border: 3px solid #100E1B;
    padding: 0.5em;
    background-color: #F6F3F4;
}


.btnPopUpClose {
    position: relative;
    left: 86%;
    margin: 0.6em 0 0.6em 0;
}

.btnPopUpClose:hover {
    opacity: 1;
}

.popUpTitle {
    position: relative;
    text-align: center;
    margin: 0.5em;
    color: #743d74;
}

.messageContent {
    text-align: center;
    max-width: 100%;
    color: #100E1B;
}

.messageContent p {
    margin: 0.8em 4em;
}

.buttons {
    max-width: 100%;
    margin: 2em 7.5em;
}

.cancelRoom {
    position: fixed;
    width: 80%;
}

.btnCancel,
.btnAccept,
.btnJoin {
    color: #100E1B;
    margin-left: 2.7em;
}

.codeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

.codeSection p {
    margin: 0;
}