/**
  * CSS used for the home page.
  * Created by Derrick Allen Smith.
  */

  @import url("common.css");

.popup {
    background-color: var(--mimi-pink);
    border-color: var(--finn);
    border-style: solid;
    display: none;
    width: 40vw;
    flex-direction: column;
    align-items: center;
    margin: 1vw 0;
}

/* Title centered for pop-ups */
.popup-title {
    color: var(--plum);
    position: relative;
    text-align: center;
    margin: 0.8vw;
    font-size: 2.5vw;
}

.popup-subtitle {
    color: var(--sky-magenta);
    font-size: 2vw;
    margin: 0vw;
    font-weight: bold;
}

.code-input {
    width: 15vw;
}

/* centered the code input for room */
.code-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.6vw;
    margin-bottom: 1vw;
}

/* font with bold weight */
.code-section p {
    margin: 0;
    color: var(--finn);
    font-weight: bold;
}

.message-content {
    text-align: center;
    margin: 0vw;
    color: var(--dark-purple);
}

.message-content p {
    margin: 0.8em 4em;
    color: var(--finn);
    font-weight: bold;
}

/* Alignment of buttons */
.cancel-button,
.join-button,
.continue-button,
.home-button {
    font-size: 2vw;
    margin-bottom: 1.5vw;
}

/* For end of game pop up */
#popup-container {
    display: flex; 
    flex-direction: column;
    align-items: center;
}