@import "common.css";

body{
    background-color: var(--isabelline);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.9em;
    font-weight: bold;
}

.subtittle{
    color: var(--violet);
    display: flex;
    justify-content: center;
    font-size: 2.3em;
    margin-bottom: 1em;
    font-weight: bold;
}

.configuration{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    margin: 0.5rem;
}

.configurationOption{
    color: var(--violet);
    background-color: var(--isabelline);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    list-style: none;
    column-count: 3;
    padding: 0;
    margin: 0em;
}

.configurationOptionTitle{
    border-style: ridge;
    border-color: var(--plum);
    width: 14rem;
    height: 2rem;
}

.confOptTittleDescription{
    margin: 0 1.5rem;
    height: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.configurationOptionValue{
    border-style: ridge;
    border-color: var(--plum);
    width: 17rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.inputRange::-webkit-slider-runnable-track{
  background: var(--skyMagenta);
  width: 14rem;
  cursor: grab;
  border-radius: 1rem;
}

.configurationOptionInformation{
    flex-grow: 1;
    text-align: center;
    border-style: ridge;
    border-color: var(--plum);
    width: 35rem;
}

.confOptInfDescription{
    margin: 0;
    height: 2rem;
}

.adaptationConfiguration{
    color: var(--violet);
    background-color: var(--isabelline);
    list-style: none;
    column-count: 3;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.adaptationDescription{
    border-style: ridge;
    border-color: var(--plum);
    width: 25rem;
    height: 14rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adaptationOption{
    flex-grow: 1;
    border-style: ridge;
    border-color: var(--plum);
    width: 25rem;
    height: 14rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

#adaptation1{
    margin: 1em 0 0 0;
}

#adaptation3{
    margin: 0 0 1em 0;
}

.players{
    color: var(--skyMagenta);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: stretch;
    margin: 0.5rem;
}

.player{
    column-count: 4;
    list-style: none;
    padding: 0;
    margin: 0.5rem;
}

.btnInformation{
    background-color: var(--violet);
    display: flex;
    align-items: stretch;
    border: none;
    border-radius: 1rem;
    padding: 0;
    cursor: help;
}
