/**
  * CSS used for the home page.
  * Created by Cristian Ortega Hurtado.
  */

@import url("common.css");
@import url("popUps.css");

/**
 * Style for section configuration
 */
.configuration {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    max-width: 95%;
}

/**
 * Style for each configuration option
 */
.configuration-option {
    align-items: center;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0%;
    margin: 1% 0%;
    max-width: 100%;
    justify-content: center;

}

/**
 * Style for each configuration option title
 */
.label-icon {
    margin: 0%;
    min-width: 40%;
}

/**
 * Style for each configuration option title
 */
.option-title {
    color: var(--isabelline);
    margin: 2%;
    font-size: 1rem;
}

/**
 * Style for each configuration option value
 */
.input-range-container {
    border-style: solid;
    background: var(--plum);
    border-color: var(--plum);
    border-radius: 0.9vw;
    border-width: 0.2vw;
    display: flex;
    min-width: 40%;
    padding: 0.5%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 0.3%;
}

/**
 * Style for each input type range
 */
.input-range {
    appearance: none;
    background: var(--violet);
    border-color: var(--violet);
    border-radius: 0.5rem;
    border-style: solid;
    cursor: grab;
    min-width: 80%;
}

/**
 * Style for thumb in input range.
 * Style only available with vendor prefix.
 * Width and height not allowed to be relative.
 */
.input-range::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background: var(--mimi-pink);
}

/**
 * 
 */
.configuration-description {
    background: var(--plum);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
    border-radius: 6px;
}

/**
 * 
 */
.option-subtitle {
    font-size: 1.5rem;
    color: var(--violet);
    margin: 0%;
}

/**
 * Adaption explanation text
 */
.option-description {
    font-size: 1rem;
    display: flex;
    text-align: center;
    visibility: hidden;
    max-width: 80%;
    font-weight: bold;
    color: var(--mimi-pink);
}

/**
 * Style for each adaptation option
 */
.adaptation-option {
    flex-grow: 1;
    border-style: solid;
    border-color: var(--plum);
    border-radius: 6px;
    max-width: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 70%;
    justify-content: center;
}

/** Style for container of buttons. **/
.buttons {
    min-width: 100%;
}

/**
 * 
 */
.adaption-icon {
    width: 10rem;
}

/**
 * 
 */
.players {
    color: var(--sky-magenta);
    display: flex;
    min-width: 100%;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

.waitingRoomBtns {
    grid-column: 2;
    display: grid;

}

/** Style for each information button**/
.btnInformation {
    display: flex;
    align-items: stretch;
    border: none;
    border-radius: 1rem;
    padding: 0;
    cursor: help;
}

.infoPopUp,
.adaptation1-info {
    display: none;
    width: 18rem;
    background-color: var(--mimi-pink);
    border-style: solid;
    border-color: var(--finn);
    border-radius: 0.9vw;
    position: absolute;
}

/* .adaptation1-info {

} */

/* .information-icon:hover span {
    display: flex;
} */

/* .info {
    content: '?';
} */

/* .info:hover span {
    display: flex;
} */

.common-text {
    margin: 0.3rem 0.7rem;
}

/******************* MEDIA QUERIES *******************/

/**
 * Styles for header on screens smaller than 933px
 */
@media screen and (max-width: 933px) {

    /**
     * Style for each configuration option title
     */
    .label-icon {
        width: 29vw;
        height: 8vw;
    }

    /**
     * Changing direction.
     */
    .configuration-option {
        flex-direction: column;
    }

    /**
     * Changing direction.
     */
    .adaptation-configuration {
        flex-direction: column;
    }
}