/**
  * CSS used for the home page.
  * Created by Cristian Ortega Hurtado.
  */

@import "common.css";
@import "popUps.css";

/** Style for section configuration**/
.configuration {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    margin: 0.5vw;
    min-width: 100%;
}

/** Style for each configuration option**/
.configurationOption {
    display: flex;
    list-style: none;
    align-items: center;
    column-count: 3;
    padding: 0%;
    margin: 0.2vw;
    min-width: 100%;
    flex-direction: row;
    min-height: auto;
}

/** Style for each configuration option title **/
.label-icon {
    width: 22vw;
    height: 6vw;
    justify-content: space-between;
    flex-direction: row;
    margin: 0%;
    padding-left: 0.9vw;
    padding-right: 0.9vw;
    min-width: 0%;
    min-height: auto;
}

/** Style for each configuration option title **/
.confOpttitleDescription {
    color: var(--isabelline);
    margin: 0%;
    font-size: 1rem;
    min-width: 20%;
    min-height: auto;
}

/** Style for each configuration option value **/
.configurationOptionValue {
    border-style: solid;
    border-color: var(--finn);
    border-radius: 0.9vw;
    border-width: 0.2vw;
    height: 6.5vw;
    margin: 0vw;
    margin-left: 0.2vw;
    margin-right: 0.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20%;
    min-height: auto;
}

/** Style for each input typr range**/
.inputRange {
    background: linear-gradient(to right, var(--mimi-pink) 0%, var(--pink-lavender) 50%, var(--thulian-pink) 50%, var(--sky-magenta) 100%);
    border-style: solid;
    border-color: var(--finn);
    cursor: grab;
    border-radius: 1rem;
    transition: background 450ms ease-in;
    min-width: 20%;
    min-height: auto;
}

/** Style for each configuration option information**/
.configurationOptionInformation {
    border-style: solid;
    border-color: var(--finn);
    border-radius: 0.9vw;
    border-width: 0.2vw;
    height: 6.5vw;
    margin: 0vw;
    margin-left: 0.2vw;
    margin-right: 0.2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    flex-grow: 1;
    display: flex;
    text-align: center;
    border-style: solid;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-width: 20%;
    min-height: auto;
}

/** Style for each list of adaptation configuration**/
.adaptationConfiguration {
    color: var(--violet);
    background-color: var(--isabelline);
    list-style: none;
    height: 15vw;
    min-width: 20%;
    column-count: 3;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    min-height: auto;
}

/** Style for each adaptation description**/
.adaptationDescription {
    border-style: solid;
    border-color: var(--plum);
    border-radius: 6px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.1rem;
    min-width: 20%;
    min-height: auto;
}

/** Style for each adaptation description**/
.adaptationDescription {
    font-size: 3vw;
    min-height: auto;
}

/** Style for each adaptation option**/
.adaptationOption {
    flex-grow: 1;
    border-style: solid;
    border-color: var(--plum);
    border-radius: 6px;
    min-width: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 1.6rem;
    margin: 0.1rem;
    min-height: auto;
}

.adaptionIcon {
    height: 10vw;
}

/** Style for margin of adaptation 1**/
#adaptation1 {
    margin: 1em 0 0 0;
}

#adaptation2 {
    margin: 0;
}

/** Style for margin of adaptation 3**/
#adaptation3 {
    margin: 0 0 1em 0;
}

/** Style for section players**/
/* .players {
    color: var(--skyMagenta);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 25vw;
}

.players {
    color: var(--sky-magenta);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: stretch;
    margin: 0.5rem;
} */

.players {
    color: var(--skyMagenta);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0.5rem;
    max-width: 90vw;
    height: 80vh;
    align-content: center;
    /* flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 25vw;
    margin: 0.5rem; */
}

.subtittle {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
    border-style: solid;
    border-color: var(--plum);
    border-radius: 6px;
}

.playersTable {
    grid-column: 1;
    grid-row: 2;
}

/** Style for each player**/
.player {
    column-count: 4;
    list-style: none;
    padding: 0;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.waitingRoomBtns {
    grid-column: 2;
    display: grid;

}

/** Style for each information button**/
.btnInformation {
    display: flex;
    align-items: stretch;
    border: none;
    border-radius: 1rem;
    padding: 0;
    cursor: help;
}

.infoPopUp {
    display: none;
    width: 18rem;
    background-color: var(--mimi-pink);
    border-style: solid;
    border-color: var(--finn);
    border-radius: 0.9vw;
    position: absolute;
}

/* .information-icon:hover span {
    display: flex;
} */

/* .info {
    content: '?';
} */

/* .info:hover span {
    display: flex;
} */

.common-text {
    margin: 0.3rem 0.7rem;
}

/******************* MEDIA QUERIES *******************/

/* Styles for header on screens smaller than 933px */
@media screen and (max-width: 933px) {

    /** Style for each configuration option title**/
    .label-icon {
        width: 29vw;
        height: 8vw;
    }

    /** Style for each configuration option title**/
    .confOpttitleDescription {
        font-size: 2.5vw;
    }

    /** Style for each configuration option**/
    .configurationOption {
        flex-direction: column;
    }

    .adaptationConfiguration {
        flex-direction: column;
    }
}